<!DOCTYPE html>
<html>
<head>
    <title>Add Book and Review</title>
</head>
<body>
    <div style="float:right">
        <a href="">Home</a> | 
        <a href="">Logout</a>
    </div>

    <h2>Add a New Book Title and Review:</h2>

    <form action="" method="post">
    Book Title: <input type="text" name="title"><br>
    Author:<br>
    Choose from the list:<select>
                            <option>Some option</option>
                        </select><br>
    Or add a new author:<input type="text" name="author"><br>
    Review:<textarea cols="30" rows="4"></textarea><br>
    Rating:<select>
                <option value="5">5 stars</option>
                <option value="4">4 stars</option>
                <option value="3">3 stars</option>
                <option value="2">2 stars</option>
                <option value="1">1 star</option>
            </select><br><br>
    <input type="submit" name="Add Book and Review" value="Add Book and Review">
    </form>

</body>
</html>




