<!DOCTYPE html>
<html>
<head>
    <title>Add Book and Review</title>
</head>
<body>
    <div style="float:right">
        <a href="">Home</a> | 
        <a href="">Logout</a>
    </div>
    <h2>Book Title</h2>
    <h3>Author: ---Author Name--</h3>
    
    <br>
    <div id="reviews" style="display:inline-block; vertical-align:top; width:300px; height:700px;">
        <h2>Reviews:</h2>
        <hr>
        <a href="">Book Title</a>
        <p>Rating: XXXX</p>
        <p>Username: User description</p>
        <p>Posted on --date--</p>
    </div>


    <div id="addreview" style="display:inline-block; vertical-align:top; width:350px; height:700px; margin-left:50px">
       <h2>Add a Review</h2>
       <textarea cols="35" rows="3"></textarea><br>
       Rating:<select>
            <option value="5">5 stars</option>
            <option value="4">4 stars</option>
            <option value="3">3 stars</option>
            <option value="2">2 stars</option>
            <option value="1">1 star</option>
        </select><br><br>
        <input type="submit" value="Submit">

    </div>
</body>
</html>