<!DOCTYPE html>
<html>
<head>
    <title>Add Book and Review</title>
</head>
<body>
    <div style="float:right">
        <a href="/books">Home</a> | 
        <a href="">Logout</a>
    </div>

    <h2> {{ book_info['title'] }}</h2>
    <h3> {{ book_info['author'] }}</h3>

    <br>
    <div id="reviews" style="display:inline-block; vertical-align:top; width:300px; height:700px;">
        <h2>Reviews:</h2>
        {% for review in reviews %}
            <hr>
            <p>Rating: {{ review['rating'] }}</p>
            <p> <a href="/users/{{ review['user_id'] }}">{{review['name'] }}</a> says: {{ review['content'] }}</p>
            <p>Posted on {{ review['added_on'] }}</p>

            {% if review['name'] == session['name'] %}
                <form action="/books/delete/{{ book_info['id'] }}/{{ review['id'] }}", method='post'>
                    <input type="submit" value="delete review">
                </form>
            {% endif %}
        {% endfor %}
    </div>


    <div id="addreview" style="display:inline-block; vertical-align:top; width:350px; height:700px; margin-left:50px">
       <h2>Add a Review</h2>
       <form action="/books/add_review/{{ book_info['id'] }}" method='post'>
           <textarea cols="35" rows="3" name="content"></textarea><br>
           Rating:<select name='rating'>
                <option value="5">5 stars</option>
                <option value="4">4 stars</option>
                <option value="3">3 stars</option>
                <option value="2">2 stars</option>
                <option value="1">1 star</option>
            </select><br><br>
            <input type="submit" value="Submit">
        </form>

    </div>
</body>
</html>